<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set ($popup=$data.getParameters().getString("popup"))
#set($subregion_1_ids=["caudate_l","cerb_l","gyrusrec_l","lattemp_l","occip_l","parietal_l","precun_l","prefront_l","rostac_l","bs"])
#set($subregion_2_ids=["caudate_r","cerb_r","gyrusrec_r","lattemp_r","occip_r","parietal_r","precun_r","prefront_r","rostac_r"])
#set($subregion_ids=["bs","caudate_l","caudate_r","cerb_l","cerb_r","gyrusrec_l","gyrusrec_r","lattemp_l","lattemp_r","occip_l","occip_r","parietal_l","parietal_r","precun_l","precun_r","prefront_l","prefront_r","rostac_l","rostac_r"])
#set($subregionOrd=0)
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->

function checkform(regionNames, regionHemispheres, lblHemiNames) {
 var msg ='';
 msgDiv.innerHTML = '<font color="red" size="2"> &nbsp; </font>';
 msg = msg + check(regionNames,0);
 msg = msg + check(regionHemispheres,0);
 msg = msg + check(lblHemiNames,1);
 if (msg != '') {
   msgDiv.innerHTML = '<b><font color="red" size="2"> ' +  msg  + ' </font> </b>';
   return false;
 }
 return true;
}

function check(idNames, isLabel) {
  var id_array=idNames.split(",");
	  var index=1;
	  var msg = '';
  while (index < id_array.length) {
	  	if (isLabel == 0) {
		         msg += isSelected(id_array[index]);	
	   }
	    <!-- else { msg += isSelectedLabelHemisphere(id_array[index]);	  }-->
	             index ++;
  }
  return msg;
}

function isSelected(selectionId) {
   if (selectionId == null || selectionId == '') return '';
   var id_array=selectionId.split("#");
   var obj = document.getElementById(selectionId);
   var selectedIndex = obj.selectedIndex;
   	if (selectedIndex == 0) return ' Please select ' + id_array[0] + ' for file ' + id_array[1] + ' <br/>';
   else return ''    	
}

function isSelectedLabelHemisphere(selectionId) {
   if (selectionId == null) return '';
   var id_array=selectionId.split("#");
   var obj = document.getElementById(selectionId);
   var selectedIndex = obj.selectedIndex;
   if (selectedIndex == 2) {
	   var txtBox = document.getElementById('label#'+id_array[1]+'#'+id_array[2]);
	   if (txtBox.value != 'Original')
	     return 'Please select hemisphere for the subregion  ' + id_array[2] + ' for file ' + id_array[1] + ' <br/>';
	   else 
	      return '';
   }
   else return ''    	
}

</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

<div align="center">
<font size="1">
	<table  border="1">
  <tr>
    <th  align="center" width="130" #if ($step==1)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 1</th>
    <th  align="center"  width="130" #if ($step==2)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 2</th>
    <th  align="center" width="130" #if ($step==3) bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 3</th>
  </tr>
  <tr>
    <td align="center"><b>
    #if ($step1Disabled == 'disabled')
    <b>Atlas Register  MRI-T1</b>
    #else
    <b><A HREF="/cnda_xnat/app/action/XDATActionRouter/xdataction/PipelineScreen_ManualPetProcessingStep/search_element/${search_element}/search_field/${search_field}/search_value/${search_value}/popup/true/step/1" >Atlas Register PET and MRI-T1 </a></b>
    #end
    </td>
    <td align="center">
    #if ($step2Disabled == 'disabled')
    <b> Create ROIS </b>
	    #else
    <b><A HREF="/cnda_xnat/app/action/XDATActionRouter/xdataction/PipelineScreen_ManualPetProcessingStep2/search_element/${search_element}/search_field/${search_field}/search_value/${search_value}/popup/true/content/MPRAGE_222/step/2" >Create ROIS </a></b>
    #end    
    </td>
    <td align="center">
    #if ($step3Disabled == 'disabled')
    <b>Run Time Course Analysis </b>
    #else
    <b><A HREF="/cnda_xnat/app/action/XDATActionRouter/xdataction/PipelineScreen_ManualPetProcessingStep3/search_element/${search_element}/search_field/${search_field}/search_value/${search_value}/popup/true/step/3" >Run Time Course Analysis</a></b>
    #end
    </td>
  </tr>
</table>
</font>
</div>

<br/>

<form name="ConfirmPetRoiUpload" method="post" action="$link.setAction("ManualPetAction")" >
<input type="hidden" name="buildpage" value = "PipelineScreen_ManualPetProcessing.vm"/>
<input type="hidden" name="buildroipage" value = "PipelineScreen_ManualPetProcessingStep2.vm"/>
<input type="hidden" name="createroipage" value = "PipelineScreen_ManualPetProcessingStep3.vm"/>

<b>
  <font face="verdana,geneva,helvetica ">
	      Session: $pet.getId()
  </font>
</b>
				<div id="msgDiv"> </div>
		
		<br/>
		<br/>
		<br/>
		
		<b> Object Files uploaded </b>
			    <table>
			      <tr> 
			        <td><b> Filename </b> </td> 
			      </tr> 
			      #set ($regionName = "")
			      #set ($lblHemiName = "")
			      #set ($regionHemiName = "")
			      #set ($separator = ",")
			      #foreach ($region in $pet.getRegions_region())
							      #set ($regionName = "${regionName}${separator}region#${region.getFile().getUri()}")
										      #set ($regionHemiName = "${regionHemiName}${separator}hemisphere#${region.getFile().getUri()}")
			
			         <tr>
			           <td> * $region.getFile().getUri()</td>
			         </tr>
			         <tr>
			         <td> &nbsp; </td>
			           <td>
			              <table>
			                 <tr>								 
			                    <td><b>Region Name</b></td> <td><b>Hemisphere</b></td>
			                 </tr>
			                 <tr>
		                      <td> 
								#set($subregionOrd=0)
								<select name="region#$region.getFile().getUri()">
	                      	        <option name="BAD" > Select </option>
	                      	        <option name="Anterior Cingulate" #if ( $region.getName().contains("acingulate") || $region.getName().contains("rostral") ) selected #set($subregionOrd=8) #end>Anterior Cingulate </option>
									<option name="Caudate" #if ($region.getName().contains("caudate")) selected #set($subregionOrd=0) #end>Caudate </option>
                      				<option name="Cerebellum" #if ($region.getName().contains("cerebellum")) selected #set($subregionOrd=1) #end>Cerebellum </option>
                      				<option name="Gyrus Rectus" #if ($region.getName().contains("gyrus")) selected #set($subregionOrd=2) #end>Gyrus Rectus </option>
                      				<option name="Occipital" #if ($region.getName().contains("occipital")) selected #set($subregionOrd=4) #end>Occipital </option>
	                            	<option name="Parietal" #if ($region.getName().contains("parietal")) selected #set($subregionOrd=5) #end>Parietal </option>
	                              	<option name="Precuneus" #if ($region.getName().contains("precuneus")) selected #set($subregionOrd=6) #end>Precuneus </option>
	                              	<option name="Prefrontal" #if ($region.getName().contains("prefrontal")) selected #set($subregionOrd=7) #end>Prefrontal </option>
                      				<option name="Temporal" #if ($region.getName().contains("temporal") || $region.getName().contains("lattemp")  ) selected #set($subregionOrd=3) #end>Temporal </option>
                      				<option name="White Matter" #if ($region.getName().contains("brainstem")) selected #set($subregionOrd=9) #end>White Matter </option>
								 </select>
		                 	    </td>
			                    <td>
									<select name="hemisphere#$region.getFile().getUri()">
									   <option name="BAD" > Select </option>
			                           <option name="left" #if ($region.getHemisphere() == 'left') selected #end>left </option>
									   <option name="right" #if ($region.getHemisphere() == 'right') selected #end>right </option>
									   <option name="both" #if ($region.getHemisphere() == 'both') selected #end>both </option> 
									</select>
			                    </td> 
			                 </tr>
			              </table>
			           </td>
			         </tr>
			         <tr>
						<td> &nbsp; </td> 
			           <td> 
			             <table>
			             	  <tr>
			             	    <td> <b> Subregion Id </b></td> <td> <b>Label</b> </td> <td></td>
			             	  </tr>
							#set($subRegCount=0)
			                #foreach ($lbl in $region.getSubregionlabels_label())
				                 #set ($lblHemiName = "${lblHemiName}${separator}label_hemisphere#${region.getFile().getUri()}#${lbl.getId()}")
							  <tr>
								 #set($showSubRegion=0)
								 <!-- If this is one of the first two subregions of any region -->
			                     #if ($subRegCount < 2)
    								 <!-- If this is a brainstem region, then if it's the first subregion-->
    								 #if ( $subregionOrd < 9 || $subRegCount < 1 )
    									#set($showSubRegion=1)
    								 #end
								 #end
								 #if($showSubRegion==1)
									<td>$lbl.getId()</td>
									#if($lbl.getId()%2 == 1)
            							#set($subregionLabel=$subregion_1_ids.get($subregionOrd))
            						#else
            							#set($subregionLabel=$subregion_2_ids.get($subregionOrd))
            						#end
								 <td> 
									<select id="label#$region.getFile().getUri()#$lbl.getId()" name="label#$region.getFile().getUri()#$lbl.getId()">
											#foreach($subid in $subregion_ids)											
												<option name="$subid" #if ( $lbl.getLabel()==$subid || $subregionLabel==$subid ) selected #end>$subid</option>
											#end
									</select>
			                     </td>
								 #else
								 <td>
									<!-- Only the first two subregions will be displayed, all others are hidden. -->
									<input type="hidden" name="label#$region.getFile().getUri()#$lbl.getId()" value="$region.getName()_oth#$lbl.getId()" />
								 </td>								 
								 #end
								 #set($subRegCount = $subRegCount + 1)
								 <td>
									<!-- This is vestigial code left in to make BuildGenPIBActions function smoothly.
									     Value never changes. -->
									<input type="hidden" name="label_hemisphere#$region.getFile().getUri()#$lbl.getId()" value="both" />
								 </td>
			                  </tr>
			                #end
			             </table>
			           </td>
			         </tr>
			      
			      #end
			</table>
		<br/>
		<br/>
		<br/>
		<b> Other Files uploaded </b>
		#if ($miscFiles.size() > 0)		
			    <table>
			      <tr> 
			       <td><b>Filename</b></td> 
			      </tr> 
			      #foreach ($file in $miscFiles)
						      <tr> 
			        <td>$file.getName() </td> 
			      </tr> 
			      #end    
				    </table>
		#end
		#xdatPassItemFormFields($search_element $search_field $search_value $project)
    <br />
	<input type="submit" name="eventSubmit_doSaveroi" value="Submit" ONCLICK="return checkform('${regionName}','${regionHemiName}','${lblHemiName}');"/>
    			&nbsp;&nbsp;
   		    	<input type="button" ONCLICK="javascript:self.close()" value="Close"/>
    	    <p>&nbsp;</p>
</form>