##Copyright 2009 Washington University in St. Louis All Rights Reserved

#set ($schemaType = $newpipeline.getSchemaElementName())


<style type="text/css">
 .help_popup {
  position: absolute;
  visibility: hidden;
  background-color: #FDD;
  layer-background-color: #FDD;
  width: 200;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  padding: 3px;
  z-index: 10;
 }
</style>

    <script language="Javascript">

var validationIndices = new Array();


function hideRow(hideVal) {
	if (document.getElementById('runlabel_custom')) {
	var displayStyle = (hideVal!=true)? '' : 'none' ;
	document.getElementById('runlabel_custom').style.display = displayStyle;
	}
}

function getStyleObject(objectId) {
    // cross-browser function to get an objects style object given its id
    if(document.getElementById && document.getElementById(objectId)) {
	// W3C DOM
	return document.getElementById(objectId).style;
    } else if (document.all && document.all(objectId)) {
	// MSIE 4 DOM
	return document.all(objectId).style;
    } else if (document.layers && document.layers[objectId]) {
	// NN 4 DOM.. note: this wont find nested layers
	return document.layers[objectId];
    } else {
	return false;
    }
} // getStyleObject


function changeObjectVisibility(objectId, newVisibility) {
    // get a reference to the cross-browser style object and make sure the object exists
    var styleObject = getStyleObject(objectId);
    if(styleObject) {
	styleObject.visibility = newVisibility;
	return true;
    } else {
	// we couldn't find the object, so we can't change its visibility
	return false;
    }
} // changeObjectVisibility

function moveObject(objectId, newXCoordinate, newYCoordinate) {
    // get a reference to the cross-browser style object and make sure the object exists
    var styleObject = getStyleObject(objectId);
    if(styleObject) {
	styleObject.left = newXCoordinate;
	styleObject.top = newYCoordinate;
	return true;
    } else {
	// we could not find the object, so we cannot very well move it
	return false;
    }
} // moveObject


var xOffset = 5;
var yOffset = -5;


function getValue(name) {
    var rtn = undefined;
    for (i=0; i<validationIndices.length; i++ ) {
	var parameterDetails = validationIndices[i];
	var parameterNameStr = parameterDetails.name;
	var parameterIndex = parameterDetails.index;
	if (parameterNameStr == name) {
	   return parameterDetails;
	}
    }
    return rtn;
}

  function validate() {
    var rtn = true;
    for (i=0; i<validationIndices.length; i++ ) {
	var parameterDetails = validationIndices[i];
	var parameterNameStr = parameterDetails.name;
	var parameterIndex = parameterDetails.index;
	if (parameterNameStr == "target") {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (!(value.substr(0, 1) == '7') && !(value.substr(0, 1) == '/')) {
	   	alert("For custom target image, complete path to the image file should be provided");
	   	return false;
	   }
	}
	else if ((parameterNameStr == "nx") || (parameterNameStr == "ny")) {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value=="" || value ==" ") {
	   	alert("Please enter numeric value for " + parameterNameStr + " parameter");
	   	return false;
	   }
	}
	else if (parameterNameStr == "cross_day_register" || parameterNameStr == "epidir" || parameterNameStr == "normode") {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value=="" || (value!=0 && value !=1)) {
	   	alert("Please enter 0 or 1 for parameter " + parameterNameStr);
	   	return false;
	   }
	}
	else if (parameterNameStr == "skip") {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value=="" ) {
	   	alert("Please enter 0 or 1 for parameter " + parameterNameStr);
	   	return false;
	   }
	}
	else if (parameterNameStr == "economy") {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value=="" || (value!=2 && value !=3 && value!=4 && value!=5 && value!=6)) {
	   	alert("Please enter 2 or 3 or 4 or 5 or 6 for parameter " + parameterNameStr);
	   	return false;
	   }
	}
	else if (parameterNameStr == "Siemens_interleave") {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value=="" || (value!=0 && value !=1)) {
	   	alert("Please enter 0 or 1 for parameter " + parameterNameStr);
	   	return false;
	   }
	}
	else if (parameterNameStr == "runlabel" ) {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value != "DEFAULT" && value != "CHRONOLOGICAL" && value != "CUSTOM") {
	   	alert("Invalid value set for runlabel. Possible values are DEFAULT or CHRONOLOGICAL or CUSTOM (case sensitive)" );
	   	return false;
	   }
	}
	else if (parameterNameStr == "mprs" ) {
	   var value = document.getElementById("${schemaType}.parameters.parameter["+parameterIndex+"].csvValues").value;
	   if (value == "" || value == " ") {
	   	alert("Please set value for mprs variable" );
	   	return false;
	   }
	}
    }
    var mprageParam = getValue("mprs");
    var mprageIndex = mprageParam.index;
    var mprageValue = document.getElementById("${schemaType}.parameters.parameter["+mprageIndex+"].csvValues").value;
    var fstdParam = getValue("fstd");
    var fstdIndex = fstdParam.index;
     var fstdValue = document.getElementById("${schemaType}.parameters.parameter["+fstdIndex+"].csvValues").value;
    if (fstdValue == "" || fstdValue == " ") {
        alert("Please set value for fstd variable");
        return false;
     }

    var custom_label = getValue("custom_runlabel");
    var runlabel = getValue("runlabel");
    var runlabelIndex = runlabel.index;
    var runlabelValue = document.getElementById("${schemaType}.parameters.parameter["+runlabelIndex+"].csvValues").value;

    if (runlabelValue == "CUSTOM") {
     var fstdSplit = fstdValue.split(",");
     var customLabelIndex = custom_label.index;
     var customLabelValue = document.getElementById("${schemaType}.parameters.parameter["+customLabelIndex+"].csvValues").value;
      var customLabelSplit = customLabelValue.split(",");
      if (fstdSplit.length != customLabelSplit.length) {
        alert ("Labels assigned for scan types fstd dont match. Please assign a label for each scantype listed in fstd");
        return false;
      }else {
	      if (fstdSplit.length ==1 ) {
	        if (customLabelSplit[0] == "" ||customLabelSplit[0] == " " || fstdSplit[0] == "" || fstdSplit[0] == " " ) {
	          alert("Please assign values for fstd and assign labels for these");
	          return false;
	        }
	      }
      }

    }
    return rtn;
  }

function showPopup (targetObjectId, eventObj) {
    if(eventObj) {
	// hide any currently-visible help_popups
	hideCurrentPopup();
	// stop event from bubbling up any farther
	eventObj.cancelBubble = true;
	// move help_popup div to current cursor position
	// (add scrollTop to account for scrolling for IE)
	var newXCoordinate = (eventObj.pageX)?eventObj.pageX + xOffset:eventObj.x + xOffset + ((document.body.scrollLeft)?document.body.scrollLeft:0);
	var newYCoordinate = (eventObj.pageY)?eventObj.pageY + yOffset:eventObj.y + yOffset + ((document.body.scrollTop)?document.body.scrollTop:0);
	moveObject(targetObjectId, newXCoordinate, newYCoordinate);
	// and make it visible
	if( changeObjectVisibility(targetObjectId, 'visible') ) {
	    // if we successfully showed the help_popup
	    // store its Id on a globally-accessible object
	    window.currentlyVisiblePopup = targetObjectId;
	    return true;
	} else {
	    // we could not show the help_popup, boo hoo!
	    return false;
	}
    } else {
	// there was no event object, so we wont be able to position anything, so give up
	return false;
    }
} // showPopup

function hideCurrentPopup() {
    // note: we have stored the currently-visible help_popup on the global object window.currentlyVisiblePopup
    if(window.currentlyVisiblePopup) {
	changeObjectVisibility(window.currentlyVisiblePopup, 'hidden');
	window.currentlyVisiblePopup = false;
    }
} // hideCurrentPopup


 </script>


<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

<form ID="form1" name="form1" method="post" action="$link.setAction("ManagePipeline")" onsubmit="return validate();">
#set ($dblQts='"')

<b> 4dfp BOLD and Functional Pre-Processing pipeline setup for $project </b>

<br/>

<p>
$newpipeline.getDescription()
</p>


<br/>
<br/>

#set ($hasNX = 0)


#set ($parameters =$newpipeline.getParameters_parameter())
#if ($parameters.size() > 0)
	<p>
	<b> Please define the following parameters for your project. If a parameter can take multiple values, please enter a comma separated list of values for that parameter. </b>
	</p>
	 <table>
	 #set ($c = 0)
	 #foreach ($parameter in $parameters)
	   #if ($parameter.getName().equals("nx"))
	     #set ($hasNX = 1)
	   #end
   <script language="Javascript">
           var parameter = {};

         parameter.name = '$parameter.getName()';
         parameter.index = $c;
         validationIndices.push(parameter);
   </script>


	 <TR>
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="$parameter.getName()"/><b>$parameter.getName()</b></TD>
	   <TD><input type="text" size="45" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value="$!parameter.getCsvvalues()"/>
	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="$!parameter.getDescription()"/>
	 	#set ($c = $c + 1)
	  </tr>
	  #end
	  #set ($c = 0)
	  	#foreach ($parameter in $parameters)

	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>$!parameter.getDescription() </p>

	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>
	  	#set ($c = $c + 1)
	  	#end

## Philips and GE scanner data doesnt have nx and ny available. These need to be set for projects which have Philips and GE data
##

#if ($hasNX == 0)

## NX
	 <TR>
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="nx"/><b>nx</b></TD>
	   <TD><input type="text" size="45" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value=""/>
	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="nx value"/>
	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>NX argument for unpack_4dfp </p>

	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>

	 	#set ($c = $c + 1)
	  </tr>

## NY

	 <TR>
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="ny"/><b>ny</b></TD>
	   <TD><input type="text" size="45" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value=""/>
	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="ny value"/>
	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>NY argument for unpack_4dfp </p>

	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>

	 	#set ($c = $c + 1)
	  </tr>

## TR_slc

	 <TR>
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="TR_slc"/><b>TR_slc</b></TD>
	   <TD><input type="text" size="45" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value="0"/>
	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="TR_SLC"/>
	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>Value of Slice TR. This should be 0 unless there were pauses in the acquisition. </p>

	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>

	 	#set ($c = $c + 1)
	  </tr>

## BOLD Run Name

	 <TR>
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="runlabel"/><b>fMRI Run Label Assigment</b></TD>
	   <TD><input type="radio" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value="DEFAULT" checked onclick="hideRow(true);">Chronological within condition (default)
	   <input type="radio" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value="CHRONOLOGICAL" onclick="hideRow(true);">Chronological
	   <input type="radio" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value="CUSTOM" onclick="hideRow(false);">Define Custom labels

	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="Possible values are DEFAULT, CHRONOLOGICAL, CUSTOM. Select how the run labels should be assigned. These labels should be very short otherwise the filenames may exceed filename limits wrt to the number of characters."/>
	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>Possible values are DEFAULT, CHRONOLOGICAL, CUSTOM. Select how the run labels should be assigned. These labels should be very short otherwise the filenames may exceed filename limits wrt to the number of characters. </p>
	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>
 <script language="Javascript">
           var parameter = {};

         parameter.name = 'runlabel';
         parameter.index = $c;
         validationIndices.push(parameter);
   </script>

	 	#set ($c = $c + 1)
	  </tr>

	 <TR id="runlabel_custom" style="display:none">
	   <TD><input type="hidden"  id=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].name$dblQts value="custom_runlabel"/><b>Set custom fMRI Run Label</b></TD>
	   <TD><input type="text" size="45" id=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts  name=$dblQts${schemaType}.parameters.parameter[$c].csvValues$dblQts value=""/>
	   	<a href="#" style="outline: none;" onclick="return !showPopup('desc$c', event);">Help</a>
	   </TD>
   	    <input type="hidden" id=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts name=$dblQts${schemaType}.parameters.parameter[$c].description$dblQts value="For custom run labels, set comma separated list of runlabels. These should be very short. If you have a Eyes Open condition, you may set the custom label prefix to EO. In this case, if there are three scans with Eyes open conditions, files would be called bEO1_*, bEO2_*, bEO3_* and the folders would be called boldEO1, boldEO2, boldEO3."/>
	  	<div class=help_popup onclick="event.cancelBubble = true;" id=desc$c>
	  	  <p>For custom run labels, set comma separated list of runlabels. These should be very short. If you have a Eyes Open condition, you may set the custom label prefix to EO. In this case, if there are three scans with Eyes open conditions, files would be called bEO1_*, bEO2_*, bEO3_* and the folders would be called boldEO1, boldEO2, boldEO3.  </p>

	  	  <a href="#" onclick="hideCurrentPopup(); return false;">Close</a>
	  	</div>
 <script language="Javascript">
           var parameter = {};

         parameter.name = 'custom_runlabel';
         parameter.index = $c;
         validationIndices.push(parameter);
   </script>

	 	#set ($c = $c + 1)
	  </tr>
#end
	  	<TR>
	  		<TD colspan="2" align="center"><input type="button" ONCLICK="javascript:window.close();" value="Close"/>&nbsp;&nbsp;&nbsp;<input type="submit"  name="eventSubmit_doAddprojectpipeline" value="Submit"/></TD>
		</TR>


	 </table>
#else
	There are no parameters required to be setup for this pipeline.
#end


<input type="hidden"  id=$dblQts${schemaType}.stepId$dblQts name=$dblQts${schemaType}.stepId$dblQts value="4dfpBoldPreProcessing"/></TD>
<input type="hidden"   id=$dblQts${schemaType}.displayText$dblQts name=$dblQts${schemaType}.displayText$dblQts value="4dfp Bold Pre-Processing"/>
<input type="hidden"  id=$dblQts${schemaType}.name$dblQts name=$dblQts${schemaType}.name$dblQts value="4dfpBoldPreProcessing"/>
<input type="hidden"  id=$dblQts${schemaType}.location$dblQts name=$dblQts${schemaType}.location$dblQts value="$newpipeline.getLocation()"/>
<input type="hidden"  id=$dblQts${schemaType}.customwebpage$dblQts name=$dblQts${schemaType}.customwebpage$dblQts value="$newpipeline.getCustomwebpage()"/>
<input type="hidden"  id=$dblQts${schemaType}.description$dblQts name=$dblQts${schemaType}.description$dblQts value='$newpipeline.getDescription()'/>



<input type="hidden" name="search_element" value="xnat:projectData"/>
<input type="hidden" name="search_field" value="xnat:projectData.ID"/>
<input type="hidden" name="search_value" value="$project"/>
<input type="hidden" name="project" value="$project"/>
<input type="hidden" name="pipeline_path" value="$pipeline_path"/>
<input type="hidden" name="dataType" value="$dataType"/>
<input type="hidden" name="schemaType" value="$schemaType"/>
<input type="hidden" name="edit" value="$edit"/>
<input type="hidden" name="destination" value="JS_Parent_Return.vm"/>


</form>