<script language="Javascript">

 var scansToBuild = new Array();
 
 function validate() {
   var rtn = false;
   for (index in scansToBuild) {
	var key = scansToBuild[index].key;   
	var buildCheckBox = document.getElementById("build_"+key);
	if (buildCheckBox.checked) {
	  var total = 	scansToBuild[index].size;
	  var anychecked = 0;
	  for(i=0; i<total; i++) { 
	    if (document.getElementById(key +"_"+i).checked)
	      anychecked = 1;
          }
          if (anychecked == 0) {
	   alert("Please select atleast one scan of type " + key + " or uncheck Build " + key);	  
           return false; 
          }else rtn = true;
	}
   }
   if (!rtn) {
	alert("Please select atleast one scan to build or use the Close button to close this page")     	   
   }
   return rtn; 	 
 }
</script>

##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error"><font color="red"> $data.message </font></DIV><br>
#end
<font face="$ui.sansSerifFonts">

#set ($sessionId = $om.getLabel())
<form name="StdBuildOptions" method="post" action="$link.setAction("BuildAction")"  onsubmit="return validate();">
<br/> <br/>
<table>
<tr>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Session: $sessionId
  </font>
</b>
</td>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Project: $om.getProject()
  </font>
</b>
</td>
</tr>
</table>
<br/>


<table border=0  bodercolor="#CC3333">
	<tr>
		<td>
			<b>Atlas Representative Target</b>
		</td>
		<td>
			<select name="target">
				#if ($target)
					<option name="$target" selected>$target</option>
				#end
					<option name="711-2B">711-2B </option>
					<option name="711-2C" >711-2C </option>
					<option name="711-2O">711-2O </option>
					<option name="711-2Y">711-2Y </option>
					<option name="711-2K">711-2K </option>
					<option name="711-2L">711-2L </option>
			</select>
		</td>
	</tr>
	#set($grad_unwarp = $projectSettings.get("grad_unwarp"))
	#if ($grad_unwarp.getCsvvalues().equals("1"))
	<tr>
		<td>
			<b>Apply Distortion correction </b>
		</td>
		<td>
			<input type="checkbox" name="grad_unwarp" checked  />
		</td>
	</tr>
	#end

	#if ($freesurfer.equals("1"))
	<tr>
		<td>
			<b>Include Freesurfer cortical segmentation </b>
		</td>	
		<td>
			<input type="checkbox" name="freesurfer" checked  />
		</td>
	</tr>
	#end


	#set($cross_day_register = $projectSettings.get("cross_day_register").getCsvvalues())
	#if ($cross_day_register && $cross_day_register.equals("1"))
	 #if ($cross_day_list.size() > 0)
		<tr>
			<td>
				<b>Select session to register to </b>
			</td>
			<td>
				<select name="cross_day_register">
				#set ($i = 0)
				<option name="-1">Select</option>
				#foreach ($session in $cross_day_list)
				   <option  value="$session.getId()" #if ($i == 0) selected  #end>$session.getLabel()</option>
	  			   #set ($i = $i + 1)
				#end
				</select>
			</td>
		</tr>
	  #else
		<tr>
			<td>
				<b>There are no previous MRs acquired </b>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	  #end
	#end

</table>

<br/>

#set ($hasEPI = 0)
#set ($hasDti = 0)

#foreach ( $key in $buildableScanTypes.keySet())
   #set ($scanType = $buildableScanTypes.get($key))
   #set ($scans = $mr.getUnionOfScansByType($scanType))
   #if ($scans.size() > 0)
   <script language="Javascript">	
      var aScanType = {};
      aScanType.key = '$key';
      aScanType.size = $scans.size();
      scansToBuild.push(aScanType);
   </script>
  <table border="0"  bordercolor="#CC3333">
       <tr style="border-style:none">
            <td  style="border-style:none">
                <input type="checkbox" name="build_$key" id="build_$key" checked />
            </td>
            <td  style="border-style:none">
                <b>Build $key </b>
            </td>
	    <td >
	    	#if ($key.equals("T2"))
		<input type="checkbox" name="collate" value="">Collate Slices
		#else
		  &nbsp;
		#end
	    </td>
        </tr>
       <tr style="border-style:none">
            <td width="300" style="border-style:none" colspan="3">
                <p>&nbsp;&nbsp;Check scans to include in build:</p>
            </td>
        </tr>
	        	#set ($j = 0)
			#foreach ($scan in $scans)
				<tr  style="border-style:none">
				    <td >
					<p>&nbsp;</p>
				    </td>
				    <td >
				       <input type="checkbox" name="${key}_$j" id="${key}_$j" value="$scan.Id">$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
				    </td>
				    <td >
					<p>&nbsp;</p>
				    </td>
				</tr>
			#set ($j = $j + 1)
			#end
	<input type="hidden" name="${key}_rowcount" value="$j">
  </table>
  #end
 #end
<br/>
	<div id="adem_processing_params" style="display=block;">
			   <table>
				<tr  style="border-style:none">
				    <td colspan="2">Parameters for DTI Build</td>
				</tr>
				#set ($ibmax = "ibmax")
				<tr  style="border-style:none">
				    <td >ibmax</td>
				    #if ($projectSettings.get($ibmax).getCsvvalues().indexOf(",")!=-1)
				    <td>		
	    				<select name="ibmax">
	    				 <option name="-1">Select</option>
	    				 #foreach ( $ib in $projectSettings.get($ibmax).getCsvvalues().split(","))
	    				   <option value="$ib">$ib</option>
	    				 #end
	    				</select>
				    </td>
				    #else	
				    <td ><input type="text" name="ibmax" value="$projectSettings.get($ibmax)"></td>
				    #end	
				</tr>
				#set ($r="r")
				<tr  style="border-style:none">
				    <td >Image resolution</td>
  #if ($projectSettings.get($r).getCsvvalues().indexOf(",")!=-1)
				    <td>		
	    				<select name="resolution">
	    				 <option name="-1">Select</option>
	    				 #foreach ( $ib in $projectSettings.get($r).getCsvvalues().split(","))
	    				   <option value="$ib">$ib</option>
	    				 #end
	    				</select>
				    </td>
				    #else	
				    <td ><input type="text" name="resolution" value="$projectSettings.get($r).getCsvvalues()"></td>
				    #end	
				</tr>
				#set ($bvec="bvec")
				<tr  style="border-style:none">
				    <td >B Vec File</td>
  #if ($projectSettings.get($bvec).getCsvvalues().indexOf(",")!=-1)
				    <td>		
	    				<select name="bvec">
	    				 <option name="-1">Select</option>
	    				 #foreach ( $ib in $projectSettings.get($bvec).getCsvvalues().split(","))
	    				   <option name="$ib">$ib</option>
	    				 #end
	    				</select>
				    </td>
				    #else	
				    <td ><input type="text" name="bvec" value="$projectSettings.get($bvec).getCsvvalues()"></td>
				    #end
				</tr>
			  </table>
			</div>

#xdatPassItemFormFields($search_element $search_field $search_value $project)

	<input type="hidden" name="isDicom" value="$isDicom">
	<input type="hidden" name="freesurfer_pipelinename" value="build-tools/StdFreeSurferBuild.xml">
	<input type="hidden" name="pipelinename" value="Benzinger/ADEMPipeline.xml">
	<input type="hidden" name="cmdprefix" value="arc-grid-queue">


#insertPipelineNotification()
<input type="hidden" name="launcher" value="arc-qadd">

   <input type="submit" name="eventSubmit_doAdembuild" value="Queue Job"/>
    			&nbsp;&nbsp;
   <input type="button" ONCLICK="javascript:self.close()" value="Close"/>
    <p>&nbsp;</p>
</form>



