<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#xdatYearRange()


<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>


#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end


<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADRCClinical Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/> 
								 
								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       									#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       								#end
       								</TD>
							</tr>
							
							<TR><TD>Date</TD><TD>#xdatDateBox("adrc:ADRCClinicalData/date" $item $vr $years)</TD></TR>
							<TR><TD>ACS Parent</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/acsparnt" $item "" $vr)</TD></TR>
							<TR><TD>Height (in)</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/height" $item "" $vr)</TD></TR>
							<TR><TD>Weight (lbs)</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/weight" $item "" $vr)</TD></TR>
							<TR><TD>MMSE</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/mmse" $item "" $vr)</TD></TR>
							<TR><TD>Age at Entry</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/ageAtEntry" $item "" $vr)</TD></TR>
							<TR><TD>CDR</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/cdr" $item "" $vr)</TD></TR>
							<TR><TD>Community Affairs</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/commun" $item "" $vr)</TD></TR>
							<TR><TD>Diagnosis 1</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx1" $item "" $vr)</TD></TR>
							<TR><TD>Diagnosis 2</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx2" $item "" $vr)</TD></TR>
							<TR><TD>Diagnosis 3</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx3" $item "" $vr)</TD></TR>
							<TR><TD>Diagnosis 4</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx4" $item "" $vr)</TD></TR>
							<TR><TD>Diagnosis 5</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx5" $item "" $vr)</TD></TR>
							<TR><TD>Home and Hobbies</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/homehobb" $item "" $vr)</TD></TR>
							<TR><TD>Judgment</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/judgment" $item "" $vr)</TD></TR>
							<TR><TD>Memory</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/memory" $item "" $vr)</TD></TR>
							<TR><TD>Orientation</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/orient" $item "" $vr)</TD></TR>
							<TR><TD>Personal Care</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/perscare" $item "" $vr)</TD></TR>
							<TR><TD>APOE</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/apoe" $item "" $vr)</TD></TR>
							<TR><TD>Sum of Box Scores</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/sumbox" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   //validateSubjectAssessorForm();
   //return false;
   
   document.getElementById("form1").submit();
   return true;
}
</script>
