$page.setTitle("B6SUPP")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($SUICIDE = $item.getStringProperty("SUICIDE"))
	#if ( "-4" != $SUICIDE )
		<tr>
			<th width="400px">In the past or now have you felt that life is not worth living or expressed a wish to die or talked about committing suicide?</th>
			<td>
				$SUICIDE 
				#if ($SUICIDE == "1")
					- Yes
				#elseif ($SUICIDE == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MEDATTN = $item.getStringProperty("MEDATTN"))
	#if ( "-4" != $MEDATTN )
		<tr>
			<th width="400px">Additional medical attention recommended?</th>
			<td>
				$MEDATTN 
				#if ($MEDATTN == "1")
					- Yes
				#elseif ($MEDATTN == "0")
					- No
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
