$page.setTitle("B9SUPP")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($B9SX = $item.getStringProperty("B9SX"))
	#if ( "-4" != $B9SX )
		<tr>
			<th width="400px">Were motor or behavioral symptoms reported on UDS Form B9?</th>
			<td>
				$B9SX 
				#if ($B9SX == "1")
					- Yes (complete form)
				#elseif ($B9SX == "0")
					- No (stop here)
			#end
			</td>
		</tr>
	#end
	#set ($AGEMOTOR = $item.getStringProperty("AGEMOTOR"))
	#if ( "-4" != $AGEMOTOR )
		<tr>
			<th width="400px">Age of onset of motor symptoms:</th>
			<td>
				$!AGEMOTOR
			</td>
		</tr>
	#end
	#set ($AGEBEHAV = $item.getStringProperty("AGEBEHAV"))
	#if ( "-4" != $AGEBEHAV )
		<tr>
			<th width="400px">Age of onset of behavioral symptoms:</th>
			<td>
				$!AGEBEHAV
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
