$page.setTitle("B2HACH")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($ABRUPT = $item.getStringProperty("ABRUPT"))
	#if ( "-4" != $ABRUPT )
		<tr>
			<th width="400px">1. Abrupt onset (re: cognitive status)</th>
			<td>
				$ABRUPT 
				#if ($ABRUPT == "2")
					- 2 - Present
				#elseif ($ABRUPT == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($STEPWISE = $item.getStringProperty("STEPWISE"))
	#if ( "-4" != $STEPWISE )
		<tr>
			<th width="400px">2. Stepwise deterioration (re: cognitive status)</th>
			<td>
				$STEPWISE 
				#if ($STEPWISE == "1")
					- 1 - Present
				#elseif ($STEPWISE == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($SOMATIC = $item.getStringProperty("SOMATIC"))
	#if ( "-4" != $SOMATIC )
		<tr>
			<th width="400px">3. Somatic complaints</th>
			<td>
				$SOMATIC 
				#if ($SOMATIC == "1")
					- 1 - Present
				#elseif ($SOMATIC == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($EMOT = $item.getStringProperty("EMOT"))
	#if ( "-4" != $EMOT )
		<tr>
			<th width="400px">4. Emotional incontinence</th>
			<td>
				$EMOT 
				#if ($EMOT == "1")
					- 1 - Present
				#elseif ($EMOT == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($HXHYPER = $item.getStringProperty("HXHYPER"))
	#if ( "-4" != $HXHYPER )
		<tr>
			<th width="400px">5. History or presence of hypertension</th>
			<td>
				$HXHYPER 
				#if ($HXHYPER == "1")
					- 1 - Present
				#elseif ($HXHYPER == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($HXSTROKE = $item.getStringProperty("HXSTROKE"))
	#if ( "-4" != $HXSTROKE )
		<tr>
			<th width="400px">6. History of stroke</th>
			<td>
				$HXSTROKE 
				#if ($HXSTROKE == "2")
					- 2 - Present
				#elseif ($HXSTROKE == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($FOCLSYM = $item.getStringProperty("FOCLSYM"))
	#if ( "-4" != $FOCLSYM )
		<tr>
			<th width="400px">7. Focal neurological symptoms</th>
			<td>
				$FOCLSYM 
				#if ($FOCLSYM == "2")
					- 2 - Present
				#elseif ($FOCLSYM == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($FOCLSIGN = $item.getStringProperty("FOCLSIGN"))
	#if ( "-4" != $FOCLSIGN )
		<tr>
			<th width="400px">8. Focal neurological signs</th>
			<td>
				$FOCLSIGN 
				#if ($FOCLSIGN == "2")
					- 2 - Present
				#elseif ($FOCLSIGN == "0")
					- 0 - Absent
			#end
			</td>
		</tr>
	#end
	#set ($HACHIN = $item.getStringProperty("HACHIN"))
	#if ( "-4" != $HACHIN )
		<tr>
			<th width="400px">9. Hachinski Ischemic score</th>
			<td>
				$!HACHIN
			</td>
		</tr>
	#end
	#set ($CVDCOG = $item.getStringProperty("CVDCOG"))
	#if ( "-4" != $CVDCOG )
		<tr>
			<th width="400px">10. Using your best judgement, do you believe that cerebrovascular diease (CVD) is contributing to the cognitive impairment?</th>
			<td>
				$CVDCOG 
				#if ($CVDCOG == "1")
					- Yes
				#elseif ($CVDCOG == "0")
					- No
				#elseif ($CVDCOG == "8")
					- N/A
			#end
			</td>
		</tr>
	#end
	#set ($STROKCOG = $item.getStringProperty("STROKCOG"))
	#if ( "-4" != $STROKCOG )
		<tr>
			<th width="400px">11. If there is a stroke, is there a temporal relationship between the stroke and onset of cognitive impairment?</th>
			<td>
				$STROKCOG 
				#if ($STROKCOG == "1")
					- Yes
				#elseif ($STROKCOG == "0")
					- No
				#elseif ($STROKCOG == "8")
					- N/A
			#end
			</td>
		</tr>
	#end
	#set ($CVDIMAG = $item.getStringProperty("CVDIMAG"))
	#if ( "-4" != $CVDIMAG )
		<tr>
			<th width="400px">12. Is there imaging evidence which supports that CVD is contributing to the cognitive impairment?</th>
			<td>
				$CVDIMAG 
				#if ($CVDIMAG == "1")
					- Yes
				#elseif ($CVDIMAG == "0")
					- No
				#elseif ($CVDIMAG == "8")
					- N/A
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">If yes, indicate which imaging evidence was found:</th>
	</tr>	#set ($CVDIMAG1 = $item.getStringProperty("CVDIMAG1"))
	#if ( "-4" != $CVDIMAG1 )
		<tr>
			<th width="400px" style="padding-left:20px;">1) Single strategic infarct</th>
			<td>
				$CVDIMAG1 
				#if ($CVDIMAG1 == "1")
					- Yes
				#elseif ($CVDIMAG1 == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($CVDIMAG2 = $item.getStringProperty("CVDIMAG2"))
	#if ( "-4" != $CVDIMAG2 )
		<tr>
			<th width="400px" style="padding-left:20px;">2) Multiple infarcts</th>
			<td>
				$CVDIMAG2 
				#if ($CVDIMAG2 == "1")
					- Yes
				#elseif ($CVDIMAG2 == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($CVDIMAG3 = $item.getStringProperty("CVDIMAG3"))
	#if ( "-4" != $CVDIMAG3 )
		<tr>
			<th width="400px" style="padding-left:20px;">3) Extenisive white matter hyperintensity</th>
			<td>
				$CVDIMAG3 
				#if ($CVDIMAG3 == "1")
					- Yes
				#elseif ($CVDIMAG3 == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($CVDIMAG4 = $item.getStringProperty("CVDIMAG4"))
	#if ( "-4" != $CVDIMAG4 )
		<tr>
			<th width="400px" style="padding-left:20px;">4) Other</th>
			<td>
				$CVDIMAG4 
				#if ($CVDIMAG4 == "1")
					- Yes
				#elseif ($CVDIMAG4 == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($CVDIMAGX = $item.getStringProperty("CVDIMAGX"))
	#if ( "-4" != $CVDIMAGX )
		<tr>
			<th width="400px" style="padding-left:20px;">Other, specify</th>
			<td>
				$!CVDIMAGX
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
