<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Adverse Event Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<style type="text/css">
	th { text-align: left; }
	table.report { width: 400px; }
	.report, .report td, .report th { border: 1px solid gray; border-collapse:collapse; }
</style>

<table width="100%">
	<tr>
		<td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
			
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">
            <TABLE width="100%">
            	<TR>
            		<TD>
            			<font face="$ui.sansSerifFonts" size="3"><b>Adverse Event Details</b></font><br/><br/>
            
            			<TABLE class="report">
            				<TR><TD>Event Description:</TD><TD>$!item.getStringProperty("sf:adverseEvent/eventDescription")</TD></TR>
            
            				<TR><TD colspan='2'>&nbsp;</TD></TR>
            				
            				<TR><TD>Onset Date:</TD><TD>$!item.getProperty("sf:adverseEvent/onsetDate")</TD></TR>
            				<TR><TD>Resolution Date:</TD><TD>$!item.getProperty("sf:adverseEvent/resolutionDate")</TD></TR>
            				<TR><TD>Ongoing:</TD><TD>$!item.getBooleanProperty("sf:adverseEvent/ongoing")</TD></TR>
            				
            				<TR><TD colspan='2'>&nbsp;</TD></TR>
            				
            				<TR><TD>Severity:</TD><TD>$!item.getStringProperty("sf:adverseEvent/severity")</TD></TR>
            				<TR><TD>Serious:</TD><TD>$!item.getBooleanProperty("sf:adverseEvent/serious")</TD></TR>
            				<TR><TD>Reason:</TD><TD>$!item.getStringProperty("sf:adverseEvent/seriousReason")</TD></TR>
            				
            				<TR><TD colspan='2'>&nbsp;</TD></TR>
            				
            				<TR><TD>Attribution:</TD><TD>$!item.getStringProperty("sf:adverseEvent/attribution")</TD></TR>
            				<TR><TD>Expected:</TD><TD>$!item.getBooleanProperty("sf:adverseEvent/expected")</TD></TR>
            				<TR><TD>Attribution Notes:</TD><TD>$!item.getStringProperty("sf:adverseEvent/attributionNotes")</TD></TR>
            
            				<TR><TD colspan='2'>&nbsp;</TD></TR>
            				
            				<TR><TD>Action Taken:</TD><TD>$!item.getStringProperty("sf:adverseEvent/actionTaken")</TD></TR>
            				<TR><TD>Outcome:</TD><TD>$!item.getStringProperty("sf:adverseEvent/outcome")</TD></TR>
            
            				<TR><TD colspan='2'>&nbsp;</TD></TR>
            				
            				<TR><TD>Notes:</TD><TD>$!item.getStringProperty("sf:adverseEvent/adverseEventNotes")</TD></TR>
            			</TABLE>
            		</TD>
            	</TR>
            	<TR>
            		<TD>
            			<font face="$ui.sansSerifFonts" size="2"><b>Investigator</b></font><br/><br/>
            
            			<TABLE class="report">
            				<TR><TD>First Name:</TD><TD>$!item.getStringProperty("sf:adverseEvent/investigator/firstname")</TD></TR>
            				<TR><TD>Last Name:</TD><TD>$!item.getStringProperty("sf:adverseEvent/investigator/lastname")</TD></TR>
            			</TABLE>
            		</TD>
            	</TR>
            </TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
		</td>
	</tr>
</table>
