$page.setTitle("VITALS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Examination Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($VSWEIGHT = $item.getStringProperty("VSWEIGHT"))
	#if ( "-4" != $VSWEIGHT )
		<tr>
			<th width="400px">Weight</th>
			<td>
				$!VSWEIGHT
			</td>
		</tr>
	#end
	#set ($VSWTUNIT = $item.getStringProperty("VSWTUNIT"))
	#if ( "-4" != $VSWTUNIT )
		<tr>
			<th width="400px">Weight Units</th>
			<td>
				$VSWTUNIT 
				#if ($VSWTUNIT == "1")
					- lb
				#elseif ($VSWTUNIT == "2")
					- kg
			#end
			</td>
		</tr>
	#end
	#set ($VSHEIGHT = $item.getStringProperty("VSHEIGHT"))
	#if ( "-4" != $VSHEIGHT )
		<tr>
			<th width="400px">Height</th>
			<td>
				$!VSHEIGHT
			</td>
		</tr>
	#end
	#set ($VSHTUNIT = $item.getStringProperty("VSHTUNIT"))
	#if ( "-4" != $VSHTUNIT )
		<tr>
			<th width="400px">Height Units</th>
			<td>
				$VSHTUNIT 
				#if ($VSHTUNIT == "1")
					- in
				#elseif ($VSHTUNIT == "2")
					- cm
			#end
			</td>
		</tr>
	#end
	#set ($VSBPSYS = $item.getStringProperty("VSBPSYS"))
	#if ( "-4" != $VSBPSYS )
		<tr>
			<th width="400px">Systolic - mmHg</th>
			<td>
				$!VSBPSYS
			</td>
		</tr>
	#end
	#set ($VSBPDIA = $item.getStringProperty("VSBPDIA"))
	#if ( "-4" != $VSBPDIA )
		<tr>
			<th width="400px">Diastolic - mmHg</th>
			<td>
				$!VSBPDIA
			</td>
		</tr>
	#end
	#set ($VSPULSE = $item.getStringProperty("VSPULSE"))
	#if ( "-4" != $VSPULSE )
		<tr>
			<th width="400px">Seated Pulse Rate (per minute)</th>
			<td>
				$!VSPULSE
			</td>
		</tr>
	#end
	#set ($VSRESP = $item.getStringProperty("VSRESP"))
	#if ( "-4" != $VSRESP )
		<tr>
			<th width="400px">Respirations (per minute)</th>
			<td>
				$!VSRESP
			</td>
		</tr>
	#end
	#set ($VSTEMP = $item.getStringProperty("VSTEMP"))
	#if ( "-4" != $VSTEMP )
		<tr>
			<th width="400px">Temperature</th>
			<td>
				$!VSTEMP
			</td>
		</tr>
	#end
	#set ($VSTMPUNT = $item.getStringProperty("VSTMPUNT"))
	#if ( "-4" != $VSTMPUNT )
		<tr>
			<th width="400px">Temperature Units</th>
			<td>
				$VSTMPUNT 
				#if ($VSTMPUNT == "1")
					- Farenheit
				#elseif ($VSTMPUNT == "2")
					- Celsius
			#end
			</td>
		</tr>
	#end
	#set ($VSTMPSRC = $item.getStringProperty("VSTMPSRC"))
	#if ( "-4" != $VSTMPSRC )
		<tr>
			<th width="400px">Temperature Source</th>
			<td>
				$VSTMPSRC 
				#if ($VSTMPSRC == "1")
					- Oral
				#elseif ($VSTMPSRC == "2")
					- Tympanic
				#elseif ($VSTMPSRC == "3")
					- Other
			#end
			</td>
		</tr>
	#end
	#set ($VSCOMM = $item.getStringProperty("VSCOMM"))
	#if ( "-4" != $VSCOMM )
		<tr>
			<th width="400px">Comments regarding vital signs:</th>
			<td>
				$!VSCOMM
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
